.main-btn {
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-cursor: hand;
}

.popup-bg {
    -fx-fill: black;
    -fx-opacity: 0.4;
    -fx-stroke: transparent;
}

.transparent-ctn {
    -fx-fill: #AAAAAA;
    -fx-opacity: 0.3;
}

.popup-ctn {
    -fx-background-color: white;
    -fx-background-radius: 15px;
}

.error-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.blue-btn {
    -fx-background-color: #1800ad;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}